/*
body: color: #F27166; background-color: #fefefe;
nav: background-color: #F2DFDF;
nav p: color: #592542;
header: background-color: #6C92E5;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #F2DFDF;
    height: 5em;
    width: 100%;
    position: fixed;
    z-index: 5;
}

header > #logo {
    position: absolute;
    left: 2em;
    display: none;
}

header > #logo > img {
    height: 50px
}

header > #logo > h1 {
    font-size: 18px;
    position: relative;
    right: 15px;
}

nav > ul {
    display: flex;
    list-style: none;
    justify-content: start;
    position: relative;
    top: 1.8em;
}

nav > ul > li {
    padding-left: 2em;
    cursor: pointer;
}

nav > a > button {
    text-decoration: none;
    float: right;
    padding: 0.75em;
    border-radius: 10px;
    position: relative;
    top: 0.2em;
    right: 2em;
    background-color: #F27166;
    border: 1px solid #F2DFDF;
}

/* MAIN  */

main > .banner {
    height: 25em;
    width: 100%;
    background-color: #6C92E5;
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

main > .banner > article {
    width: 100%;
    height: 100%;
}

main > .banner > article > img {
    height: 190px;
    width: 190px;
    position: relative;
    top: 1em;
}

main > .banner > article > p {
    position: absolute;
    right: 0.3em;
    top: 21em;
    font-size: 1rem;
    width: 100%;
}

main > .banner > article > p > span {
    color: #F2DFDF;
}


/*  MAIN - ABOUT US  */

main > .about-us {
    text-align: center;
    background-color: #F2DFDF;
    height: 55em;
}

main > .about-us > h2 {
    background-color: #F2BB77;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 1em;
    border-radius: 10px;
}

main > .about-us > div {
    display: flex;
    align-content: center;
    justify-content: center;
}

main > .about-us > div > #story {
    width: 70%;
    height: 20em;
    position: relative;
    top: 5em;
    border-radius: 10px;
    border: 1px solid #F2BB77;
    overflow: hidden;
}

main > .about-us > div > #story > div {
    background-color: #6C92E5;
    border-radius: 10px;
}

main > .about-us > div > #story > img {
    width: 50%;
    height: 50%;
    position: relative;
    top: 1em;
}

main > .about-us > div > #story > p {
    font-size: 70%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 2em;
    line-height: 1.5;
}

main > .about-us > div > #vision {
    position: absolute;
    top: 55em;
    width: 70%;
    height: 21em;
    border-radius: 10px;
    border: 1px solid #F2BB77;
    overflow: hidden;
}

main > .about-us > div > #vision > div {
    background-color: #6C92E5;
    border-radius: 10px;
}

main > .about-us > div > #vision > img {
    width: 60%;
    height: 40%;
    position: relative;
    top: 2em;
    left: 1em;
}

main > .about-us > div > #vision > p {
    font-size: 70%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 4em;
    line-height: 1.5;
}


/* MAIN - OUR SERVICES   */

#our-services {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1em;
    background-color: #6C92E5;
    height: 43em;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

#our-services > div > h2 {
    background-color: #F2BB77;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 10px;
    position: relative;
    font-size: 20px;
    bottom: 2.7em;
}

#our-services > #free-books {
    width: 70%;
    height: 10em;
    border-radius: 10px;
    border: 1px solid #F2BB77;
    overflow: hidden;
    margin-bottom: 1em;
}

#our-services > #discounts {
    width: 70%;
    height: 10em;
    top: 95em;
    border-radius: 10px;
    border: 1px solid #F2BB77;
    overflow: hidden;
    margin-bottom: 1em;
}

#our-services > #events {
    width: 70%;
    height: 10em;
    top: 95em;
    border-radius: 10px;
    border: 1px solid #F2BB77;
    overflow: hidden;
}

#our-services > article > .services{
    background-color: #F2DFDF;
    border-radius: 10px;
    width: 100%;
}

#our-services > article > p {
    font-size: 12px;
    position: relative;
    top: 1.5em;
    line-height: 1.4;
}

/* FOOTER  */

footer {
    height: 58px;
    background-color: #F2DFDF;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer > img {
    height: 50%;
    position: relative;
    top: 1em;
}


/* MEDIA QUERIES  */

@media only screen and (min-width: 450px) {
    #our-services > #free-books {
        width: 300px;
    }

    #our-services > #discounts {
        width: 300px;
    }

    #our-services > #events {
        width: 300px;
    }
}

@media only screen and (min-width: 533px) {
    main > .about-us > div > #story {
        width: 450px;
    }

    main > .about-us > div > #vision {
        width: 450px;
    }

    main > .about-us > h2 {
        width: 300px;
    }
}

@media only screen and (min-width: 768px) {
    nav > ul {
        justify-content: space-evenly;
    }

    header > #logo {
        display: block;
    }

    main > .banner > article > img {
        float: right;
        top: 1em;
        height: 250px;
        width: 250px;
    }

    main > .banner > article > p {
        width: 190px;
        left: 2em;
        font-size: 2rem;
        top: 4em;
    }

    main > .about-us > div > #story {
        height: 21.5em;
    }

    main > .about-us > div > #story > p {
        font-size: 1rem;
    }

    main > .about-us > div > #vision {
        height: 21.5em;
    }

    main > .about-us > div > #vision > p {
        font-size: 1rem;
    }

    main > .about-us > div > #vision > img {
        left: 2.5em;
    }

    #our-services {
        flex-direction: row;
        gap: 1em;
    }

    #our-services > #title-services {
        position: absolute;
        top: 86em;
    }

    #our-services > #title-services > h2 {
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.5rem;
    }

    #our-services > #free-books {
        height: 12em;
    }

    #our-services > #free-books > p {
        font-size: 1rem;
    }

    #our-services > #discounts {
        height: 12em;
    }

    #our-services > #discounts > p {
        font-size: 1rem;
    }

    #our-services > #events {
        height: 12em;
    }

    #our-services > #events > p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1599px) {
    body {
        width: 1023px;
        margin: 0 auto;
        background-color: #000000;
    }

    main > .banner {
        width: 1023px;
        margin: 0 auto;
    }

    header {
        width: 1023px;
    }

    main > .banner > article > p  {
        left: 12em;
    }
}